 /* Reset some default browser styles */
 body, h1, p {
    margin: 0;
    padding: 0;
}

/* Basic styles */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #3a1c71, #d76d77, #ffaf7b);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.1); /* Semi transparent white */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}

h1 {
    margin-bottom: 25px;
    text-align: center;
}

p {
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
}

.social-media a {
    margin: 0 20px;
    text-decoration: none;
    font-size: 32px;
    color: #000; /* Icon color changed to black */
    transition: transform 0.3s;
}

.social-media a:hover {
    transform: scale(1.2);
}